<%- include('../partials/header') %>

<table id="pinslist">
    <thead>
        <tr>
            <th>Book</th>
            <th>Location</th>
            <th>Page Count</th>
            <th>Delete</th>
        </tr>
    </thead>
    <% pins.forEach(function(p, idx) {%>
    <tr>
        <td><%= p.bookName %></td>
        <td><%= p.locationName %></td>
        <td>
        <% if (p.pagesRead) { %>
        <%= p.pagesRead %>/ <%= p.book.items[0].volumeInfo.pageCount %>
        <% } %> 
        </td>
        <td><form method='POST' action="/pins/<%= p.id%>?_method=DELETE"><input type="submit" value="X"></form></td>
    </tr>


    <% }); %>
</table>

<%- include('../partials/footer') %>